body{
    background-color: powderblue;
    }

img{
    width: 20%;
    height: 20%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: powderblue;
    text-align: center;
    font-size: 30px;
    color: white;
  }

